@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: gilroy, sans-serif;
    /* scrollbar:hidden; */
    overflow: hidden;

}

#main{
    height: 100vh;
    width: 100%;
    /* background-color: red; */

    position: relative;
}
.black{
    height: 100vh;
    width: 100%;
    background-color: black;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    color: white;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
.black h4{
    /* background-color: aqua; */
    width: 100px;
    text-align: center;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.7);
   
    font-size: 13px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.black h1 {
    font-size: 60px;
    width: 100%;
    /* text-align: center; */
    /* background-color: red; */
    font-weight: 600;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}


.black h1 .parant .child{
    display: block;
    /* background-color: aqua; */
    /* width: 100%; */
    display: flex;
    gap: 25px;
    justify-content: center;
}

.lode{
    
   
    height: 33px;
    width: 33px;
    /* background-color: black; */
    border: 2px solid black;
    border-color: white transparent white transparent;
    border-radius: 50%;
}
.child{
    /* background-color: brown; */
    /* width: 100%; */
    
}
.parant{
    /* background-color: blue; */
    /* width: 100; */
    /* transform: translateY(-100%); */
    display: block;


}
.revel{
    /* background-color: blueviolet; */
    width: 100%;
    display: flex;
    /* gap: 20px; */
    justify-content: center;
    overflow: hidden;
}


.green{
    height: 0%;
    position: absolute;
    width: 100%;
    background-color: lightseagreen;
    bottom: 0%;
    z-index: 1;

}
.white{ 
    height: 0%;
    position: absolute;
    width: 100%;
    background-color: white;
    bottom: 0%;
    z-index: 3;
    background-color: #FCFAF8;

}

.white nav{
display: flex;
align-items: center;
justify-content: space-between;
padding: 40px 70px;
text-transform: uppercase;
}
.white nav h4{
    font-weight: 200;
    font-size: 12.3px;
    position: relative;
}
.white nav h4 .line1{
    display: block;
    height: 1.5px;
    width: 0%;
    position: absolute;
    background-color: black;
    bottom:0%;
    left:0%;
    transition-delay: .1s;
    transition-duration: .7s;


}
.white nav h4 .line2{
    display: block;
    height: 1.5px;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    transition-duration: .7s;

}
.white nav h4:hover .line1{

    width: 100%;

}
.white nav h4:hover .line2{

    width: 0%;

}
.nav2{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 0 70px;
    margin-top: 56px;
    /* background-color: aqua; */
}
.nav2 h1{
    font-size: 170px;
    font-weight: 400;
    color: #383838;
    
    font-family: sans-serif;
    line-height: 160px;
    letter-spacing: 0px;

    
}
.nav2 p{
    font-size: 12px;
    font-weight: 400;
    color: #383838c0;
    text-transform: uppercase;
    margin-top: 30px;
}
.s{
    margin-top: 0;
    /* background-color: rebeccapurple; */
    align-items: center;
}
.s img{
    height: 50px;
    margin-top: 100px;
}
.s svg{
    height: 110px;
   
    
    background-color: transparent;
    stroke:  rgb(9, 108, 103);
}
path,polyline{
    stroke: #14CF93;
}